.body-container{
    background-image: url(img/back.jpg);
    
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

header{
    background-color: rgba(0, 255, 255, 0.5);
    width: 100%;
    height: 25%;
}

main{
    width: 75%;
    height: 75%;
}

aside{
    background-color:rgba(255, 255, 255, 0.8);
    height: 75%;
    width: 25%;
    text-align: center;
}

article{
    background-color: rgba(255, 255, 0, 0.5);
    width: 70%;
    height: 100%;
}

#content{
    margin: 100px 0px;
}

footer{
    background-color: rgba(0, 217, 255, 0.5);
    width: 100%;
    height: 30%;
    justify-content: space-between;
}

#topmain{
    display: flex;
    width: 100%;
    height: 70%;
}

.rightdiv{
    width: 30%;
    height: 100%;
}

#firstdiv{
    background-color:rgba(0, 255, 0, 0.5);
    height: 50%;
}

#firstdiv ul{
    padding: 40px 20px;
}

#seconddiv{
    background-color: rgba(255, 0, 0, 0.5);
    height: 50%;
}

#seconddiv ol{
    padding: 60px 20px;
}

#logo{
    margin: 20px 20px;
}

#logo-container{
    width: 40%;
    float: left;
}

.h1_container{
    width: 80%;
    text-align: right;
}

h1{
    font-family: 'Montserrat', sans-serif;
    margin: 50px 20px;
    line-height: 200%;
}

#content p{
    margin: 20px;
    font-size: 1.5em;
}

ol, ul{
    margin: auto 20px;
}

.small-image{
    width: 30px;
}

.menu{  
    width: 60%;
    position: relative;
    overflow: hidden;
    float: right;
}

.nav{
    justify-content: center;
    align-items: center;
    margin: 80px 0px ;
}

.nav li{
    display: block;
    padding-right: 20px;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: .5s;  
    float: left;
}


.nav li a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
    padding: 10px; 
}

.nav:hover li a:hover {
    font-size: 28px;
    background-color: #ede739;
}

#underline{
    text-decoration: underline;
}

#links-img{
    width: 400px;
    height: 400px;
    margin-top: 30px;
    opacity: 0.8;
}

.huge-text{
    margin: 20px;
    font-size: 3em;
}

.footer-image{
    margin: auto 0px auto 40px;
    width: 30%;
}

#hotdog{
    width: 30%;
    float: left;
    margin: 40px 10px;
}

.contacts{
    float: right;
    width: 30%;
    text-align: center;
    margin: 60px 10px;
}
